SUPABASE_URL=https://cickjslpqmhaeuuhxptl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpY2tqc2xwcW1oYWV1dWh4cHRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMTI5MTksImV4cCI6MjA4OTY4ODkxOX0.vRgE6B0HeZ3razMIwnmeaFgmY55XahJ0ir0l7dVqc-w
SESSION_SECRET=davidih
OWNER_EMAIL=pixeltube20@gmail.com
NODE_ENV=production
